div
  div(ng-hide='editEnabled')
    span {{field | date:'yyyy-MM-dd' }}
    span.edit-btn(ng-click='startEditing()') edit
      i.ss-write
  div(ng-show='editEnabled')
    input.custom-input(type='{{inputType}}' ng-model='field' enter-to-save='save()' focus-on="focusInput")
    span.edit-btn(style="float: right;" ng-click='save()') save
      i.ss-write
