*~
.sass-cache

npm-debug.log

build/tmp
build/dist

test/screenshots/*
!test/screenshots/README.md
test/unit-results/*
!test/unit-results/README.md


node_modules
public/components
www
*.DS_Store
tmp

tmp/.pivotal_story_id
config/config.js
config/config.coffee
config/*.json

test/e2e/screenshots/*.png

coverage/

.tmp/

bower_components/
