# Cache, tmp, backupy...
*~
.sass-cache
build/tmp
build/dist

# NPM log
npm-debug.log

# Dako pierdoły + node_modules + bower
test/screenshots/*
!test/screenshots/README.md
test/unit-results/*
!test/unit-results/README.md

node_modules
public/components
www
*.DS_Store
tmp

tmp/.pivotal_story_id
config/config.js
config/config.coffee
config/development.json

test/e2e/screenshots/*.png

coverage/

.tmp/

bower_components/

# Nitrooos
.project
