header
  .logo
    .logo-img(ui-sref="root.main")
  nav
    ul.nav.navbar-nav.navbar-right
      li
        a(ui-sref="root.main") Main
      li
        a(ui-sref="root.user") Users
      li
        a() Zarejestruj
      li
        a() Zaloguj
