header
    .logo
        .logo-img(ui-sref="root.main")
    nav
        ul.nav.navbar-nav.navbar-right
            li
                a(ui-sref="root.main") Główna
            li
                a(ui-sref="user.list") Użytkownicy
            li
                a(ui-sref="place.list") Puby
            li
                a(ui-sref="user.new") Zarejestruj
            li
                a() Zaloguj
