header
  .logo
    .logo-img(ui-sref="root.main")
  nav
    ul.nav.navbar-nav.navbar-right
      li
        a(ui-sref="root.main") Main
      li
        a(ui-sref="user.list") Users
      li
        a(ui-sref="user.new") Zarejestruj
      li
        a(ui-sref="auth.login") Zaloguj
      li
        a(href, ng-click="logout()") Wyloguj

