table.table
    tr
        th Nazwa
        th Adres
        th Ukryty
        th
        th
        th
        th
    tbody
        tr(ng-repeat="place in places")
            td {{place.basic_info.name}}
            td {{place.address.city}}, ul. {{place.address.street}} {{place.address.number}}
            td {{place.basic_info.hidden}}
            td
                a(ui-sref="place.show({ id: place.basic_info.id })") Pokaż
            td
                a(ui-sref="place.edit({ id: place.basic_info.id })") Edytuj
            td
                span.edit-btn(ng-click="removePlace(place)") Ukryj
            td
                span.edit-btn(ng-click="unhidePlace(place)") Odkryj
