doctype html
html(ng-app='huBEERt')
  head
    meta(charset='utf-8')
    meta(name='viewport',
         content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(property='og:title', content='huBEERt')
    meta(property='og:site_name', content='huBEERt')
    meta(property='og:description', content='huBEERt')
    title huBEERt

    link(href='css/app.css', rel='stylesheet')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(rel='icon', type='image/ico', href='img/favicon.ico')

    script(src='js/vendor.js')
    script(src='js/app.js')
    base(href="/")

  body
    div(ng-controller='AppCtrl')
      div(ui-view='nav')
      div(ui-view='')
      div(ui-view='footer')

