form
  .form-group
      label Adres E-mail
      input.form-control(type='email', placeholder='Enter email', ng-model="user.email")
  .form-group
    label Hasło
    input.form-control(type='password', placeholder='Password' ng-model="user.password")
  button.btn.btn-default(type='submit', ng-click="save(user)") Zarejestruj
