form
  .form-group
      label Adres E-mail
      input.form-control(type='email', placeholder='Enter email')
  .form-group
    label Hasło
    input.form-control(type='password', placeholder='Password')
  button.btn.btn-default(type='submit') Zarejestruj
