.form-group
    label Kod pocztowy
    input.form-control(type="text", ng-model="address.postcode")
    
    label Miasto
    select(ng-model="address.city" ng-options="city.name for city in cities" ng-change="districtsUpdate()")
    
    .district(ng-show="visibility.district")
        label Dzielnica
        select(ng-model="address.district", ng-options="district.name for district in districts",
               ng-change="streetsUpdate()")

    .street(ng-show="visibility.street")
        label Ulica
        select(ng-model="address.street", ng-options="street.name for street in streets")
        label Numer
        input(type="number" ng-model="address.street.number" min="1")
