form
    .form-group
        label Nazwa
        input.form-control(type='text', ng-model="basic_info.name")
    .form-group
        label Opis
        textarea.form-control(type='text', ng-model="basic_info.description")
    .form-group
        label Telefon
        input.form-control(type="text", ng-model="basic_info.phone")
    .form-group
        label Email
        input.form-control(type="email", ng-model="basic_info.email")
    button.btn.btn-default(type='submit', ng-click="save(basic_info)") Zapisz
